@import "./../../colorConfig";
.all-goods-box{
  width: 100%;
  .goods-list{
    width: 100%;
    padding:0 15px;
    background: $fff;
    //padding-bottom: 242px;
  }
  .goods-table-list{
    width: 100%;
    line-height: 42px;
    .search-box{
        display: flex;
        align-items: center;
        padding: 14px 0 30px;
    }
    .name-input, .select-input{
        height: 42px;
        line-height: 42px;
        border-radius:0;
        vertical-align: bottom;
    }
    .select-input .ant-select-selection{
        height: 42px;
        border-radius:0; 
        .ant-select-selection__rendered{
            line-height: 42px;
        }
    }
    .ant-table-pagination{
      margin: 50px 0;
      width: 100%;
      text-align: center;
    }
    .date-input{
        >.ant-input{
            height: 42px;
            border-radius: 0;
        }
        .ant-calendar-range-picker-input{
          margin-top: 1px;
        }
        .ant-calendar-range-picker-separator{
          margin-top: 5px;
        }
    }
    .search-btn{
        height: 42px;
        width: 90px;
        border-color: $B277E6;
        color: $B277E6;
        
        &:hover{
            color: $fff;
            background: $B277E6;
        }
    }
    .ant-table-thead {
      tr{
        th{
          padding: 16px 8px !important;
          white-space: nowrap;
          text-align: center;
          &:nth-child(2){
            text-align: left;
          }
          &:nth-child(4){
            text-align: left;
          }
        }
      }
    }
    .ant-table-tbody{
      tr{
        td{
          padding: 16px 5px !important;
          text-align: center;
          &:nth-child(2){
            text-align: left;
          }
          &:nth-child(4){
            text-align: left;
          }
        }
      }
    }
    .ant-calendar-range-picker-input{
      margin-top: -2px;
    }
  }
  .batch-nav{
    padding: 10px;
    background: #fafafa;
    border: 1px solid #ececec;
    border-bottom: 0;
    .batch-nav-img{
      margin-right: 6px;
    }
    i{
      font-size: 18px;
      margin-right: 6px;
      vertical-align: sub;
    }
    .text-right-btn{
      border: 1px solid #2277E6;
      color: #2277E6;
      border-radius: 4px;
      background: #fafafa;
      margin-left: 10px;
    }
    .text-right-btn:hover{
      background: #2277E6;
      color: #fff;
    }
  }
}
.edit-and-view-box{
  .edit-title{
    padding-bottom: 18px;
        font-size:12px;
  }
  .edit-release-goods-box{
    width: 100%;
    font-size: 14px;
    color: $c33;
    background: $fff;
    padding: 15px 15px 15px 30px;
    h4{
      font-size: 16px;
      font-weight: 600;
    }
    p{
      margin: 0;
      color: #AAA7A7;
      font-size: 12px;
    }
    .attribute-table-box{
      width: 100%;
      border:solid 1px $borderBottom;
      ul{
        width: 100%;
        margin: 0;
        li{
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom:solid 1px $borderBottom;
          >span{
            width: 100px;
            text-align: center;
          }
          .attribute-list{
            flex: 1;
            padding: 0 10px;
            border-left: solid 1px $borderBottom;
          }
          &:last-child{
            border:none;
          }
        }
      }
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 8px !important;
      text-align: center;
    }
    .goods-image-box{
      width: 100%;
      display: flex;
      padding: 20px 10px;
      border:solid 1px $borderBottom;
      align-items: center;
      .goods-image-list{
        flex: 1;
        padding:0 17px;
        .ant-upload-list-picture-card .ant-upload-list-item{
          margin: 0 !important;
        }
      }
    }
    .editor-convert-box{
      width: 100%;
      .demo-wrapper{
        overflow: auto;
        padding: 10px;
        border:solid 1px $borderBottom;
        min-height: 500px;
      }
    }
  }
  .step-edit-goods-box{
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .ant-checkbox-wrapper + .ant-checkbox-wrapper{
    margin-left: 0!important;
    margin-right: 8px;
  }
}