.color{
    color:#2277E6;
    cursor: pointer;
}
.protocolUsage{
    height: 650px;
    width: 750px;
    overflow: auto;
    p{
        text-align:justify;
    }
    
}
h3{
    text-align: center;
    padding-bottom: 20px;
}
.form{
    .margin{
        margin-bottom: 4px !important;
    }
}