.title{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: 42px;
  margin-bottom: 24px;
}


.flex{
  display: flex;
  flex-direction: row;
}
.marginLF{
  margin-left: 28px;
}
.fileList-spin{
  left: -37% !important;
}
.IDPositive-spin{
  left: -10% !important;
}
.IDBack-spin{
  left: -10% !important;
}
.ant-form-extra{
  font-size: 12px !important;
}