.footer-box{
  padding-top: 130px;
  text-align: center;
  div{
    margin-bottom: 26px;
    font-size: 0px;
    a{
      color: #999;
      font-size: 14px;
      &:hover{
        color: #2277E6;
      }
    }
    .Division{
      color: #000;
      background: #999;
      top: -0.4em;
    }
  }
  .copyRight{
    color: #999;
    font-size: 14px;
  }
}